---
layout: base
---
<div class="wrapper">
    <header>
        {% if site.compass.logo %}
        <div class="logo-container">
          <a class="logo" href="{{ page.baseurl }}" style="background-image: url('{{ site.baseurl }}{{ site.compass.logo }}')"></a>
        </div>
        {% endif %}

        {% if site.compass.author %}
        <div class="author-container"><h1>{{ site.compass.author }}</h1></div>
        {% endif %}

        <div class="tagline-container">
          <p>
            <i class="fa fa-quote-left fa-lg fa-pull-left"></i>
            Excellence is the unlimited ability to improve the quality of what you have to offer.
            <br><span style="font-style:italic;font-size:small">Rick Pitino</span>
          </p>
        </div>
    </header>
    <main>
      {% if site.compass.include_content %}
      <div class="content">
        {% include content.html %}
      </div>
      {% endif %}
    </main>
</div>
